
<style>
    body {
        background: url('https://wallpapers.com/images/hd/still-white-and-black-chess-king-uqpqtgzn0xm9anfk.jpg') center/cover; /* Replace 'chessboard.jpg' with the path to your chessboard image */
    }

    #lobby-container {
        text-align: center;
    }

    #username-input{
        height: 80px;
        width: 500px;
        border: 3px solid #ad00ff;
        box-shadow: 7px 6px 17px #156ae0;
        font-size: 30px;
        text-align: center;
    }

    #play-button{
            margin-top: 30px;
    height: 80px;
    width: 200px;
    font-size: xx-large;
    background: black;
    box-shadow: 3px 10px 10px;
    }
</style>


<div id="lobby-container">
    <div class="container" style="margin-top: 20%;">
        <form id="formGame" asp-controller="Lobby" asp-action="InitializeGame" asp-antiforgery="true" method="post">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="username-input" name="Username" placeholder="Enter your username">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-lg btn-outline-primary" id="play-button">Play Game</button>
                </div>
            </div>
           
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ('@ViewBag.Msg' != '') {
            alert('@ViewBag.Msg');
        }
        // Handling click event for the play button
        $('#play-button').click(function () {
            // Get the username from the input field
            var username = $('#username-input').val();

            // Check if the username is not empty
            if (username.trim() !== '') {
                $('#play-button').disable();
                $("#formGame").submit();
            } else {
                alert('Please enter a valid username.');
            }
        });
    });
</script>
